@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login-form-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 600px;
  width: 900px;
  border-radius: 15px;
  background-color: #1E1353;
}

.right-section img {
  border-radius: 15px;
  width: 500px;
  height: 600px;
  z-index: 111;
}

.left-section .upwave {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left-section .upwave img {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0px 15px 0px 0px;
  width: 480px;
  height: 120px;
  z-index: -1;
}

.left-section .upwave h2 {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 167px;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 70px;
  letter-spacing: 0.03em;
}

.left-section .hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left-section .hero-section .user-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 100px;
  right: 20px;
}

.left-section .hero-section .user-name .first_name h4 {
  margin-left: -90px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.04em;
  color: #fff;
}

.left-section .hero-section .user-name .first_name .get-first-name {
  height: 32px;
  margin-left: -90px;
  margin-right: 50px;
  margin-top: 2px;
  padding-left: 20px;
  border: 3px solid #7A0BC0;
  border-radius: 50px;
  background-color: none;
  outline: none;
  width: 100%;
  font-family: 'Quicksand';
  font-style: normal;
  color: #FA58B6;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.left-section .hero-section .user-name .last_name {
  margin-left: 50px;
}

.left-section .hero-section .user-name .last_name h4 {
  margin-left: -90px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.04em;
  color: #fff;
}

.left-section .hero-section .user-name .last_name .get-last-word {
  height: 32px;
  margin-left: -90px;
  margin-right: 50px;
  margin-top: 2px;
  padding-left: 20px;
  border: 3px solid #7A0BC0;
  border-radius: 50px;
  background-color: none;
  outline: none;
  width: 100%;
  font-family: 'Quicksand';
  font-style: normal;
  color: #FA58B6;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.left-section .hero-section .mail_id {
  position: absolute;
  top: 185px;
  right: 200px;
  margin-left: 50px;
}

.left-section .hero-section .mail_id h4 {
  margin-left: 143px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.04em;
  color: #fff;
}

.left-section .hero-section .mail_id .get-email-id {
  height: 35px;
  margin-left: 125px;
  margin-right: 50px;
  margin-top: 2px;
  padding-left: 20px;
  border: 3px solid #7A0BC0;
  border-radius: 50px;
  background-color: none;
  outline: none;
  width: 100%;
  font-family: 'Quicksand';
  font-style: normal;
  color: #FA58B6;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.left-section .hero-section .pass-word {
  position: absolute;
  top: 270px;
  right: 200px;
  margin-left: 50px;
}

.left-section .hero-section .pass-word h4 {
  margin-left: 143px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.04em;
  color: #fff;
}

.left-section .hero-section .pass-word .get-pass-word {
  height: 35px;
  margin-left: 125px;
  margin-right: 50px;
  margin-top: 2px;
  padding-left: 20px;
  border: 3px solid #7A0BC0;
  border-radius: 50px;
  background-color: none;
  outline: none;
  width: 100%;
  font-family: 'Quicksand';
  font-style: normal;
  color: #FA58B6;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.left-section .hero-section .rem-creds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  margin: auto;
  top: 360px;
  right: 160px;
}

.left-section .hero-section .rem-creds h5 {
  margin-left: 6px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 32px;
  letter-spacing: 0.025em;
  color: #fff;
}

.left-section .hero-section .rem-creds input[type=checkbox] {
  height: 14px;
  width: 14px;
  border: 10px;
  cursor: pointer;
  background-color: black;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.left-section .hero-section .terms-conditions {
  position: absolute;
  top: 400px;
  left: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-section .hero-section .terms-conditions #trms_cons {
  color: #fff;
  margin-left: 6px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 11.5px;
  line-height: 18px;
  letter-spacing: 0.025em;
  width: 90%;
}

.left-section .hero-section .terms-conditions input[type=checkbox] {
  height: 16px;
  width: 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.left-section .hero-section .cta-btn {
  position: absolute;
  bottom: 100px;
  left: 600px;
}

.left-section .hero-section .cta-btn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 50px;
  outline: none;
  cursor: pointer;
  border: none;
  color: #fff;
  background: linear-gradient(-70deg, #7A0BC0 14%, #FA58B6 102%);
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.left-section .hero-section .cta-btn button:hover {
  background: linear-gradient(35deg, #7A0BC0 14%, #FA58B6 102%);
  -webkit-transform: scale(1.025, 1.025);
          transform: scale(1.025, 1.025);
  text-decoration: underline;
}

.left-section .hero-section .cr-acc {
  position: absolute;
  left: 588px;
  bottom: 75px;
}

.left-section .hero-section .cr-acc h6 {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 10.5px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #fff;
}

.left-section .hero-section .cr-acc h6 span a {
  color: #FA58B6;
  text-decoration: none;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  opacity: 0.8;
}

.left-section .hero-section .cr-acc h6 span a:hover {
  text-decoration: underline;
  opacity: 1;
}

.left-section .hero-section #or-section {
  position: absolute;
  bottom: 110px;
  left: 585px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.25em;
  color: #fff;
}

.left-section .hero-section .social-icons {
  position: absolute;
  bottom: 63px;
  left: 567px;
}

.left-section .hero-section .social-icons img {
  width: 25%;
  height: 25%;
  padding-left: 25px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  opacity: 0.86;
}

.left-section .hero-section .social-icons img:hover {
  -webkit-transform: scale(1.08, 1.08);
          transform: scale(1.08, 1.08);
  opacity: 1;
}

.left-section .downwave img {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0px 0px 15px 0px;
  width: 480px;
  height: 120px;
  z-index: -1;
}
/*# sourceMappingURL=main _2.css.map */